<!-- Local Reference #navbar -->
<nav #navbar id="nav-bar" class="nav">
  <label class="label pull-left">Event Based</label>
  <a #eventAnchor id="{{navbar.id + '-add-anchor-event'}}" href="#" (click)="createSticky()" class="pull-left">
    <img id="{{eventAnchor.id + '-image'}}" class="add-icon" src="assets/images/ic_add_black_24px.svg" alt="Add Sticky">
  </a>
  <a #componentAnchor id="{{navbar.id + '-add-anchor-component'}}" href="#" (click)="stickyAreaComponent.createSticky()" class="pull-right">
    <img id="{{componentAnchor.id + '-image'}}" class="add-icon" src="assets/images/ic_add_black_24px.svg" alt="Add Sticky">
  </a>
  <label class="label pull-right">Input Based</label>
</nav>
